.panelDesign {
  background-color: white;
  color: black;
  font-family: "Arial";
  position: absolute;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  padding-right: 0px;
  z-index: 10;
}

.inputs {
  border: 1px solid lightgrey;
  margin-top: 20px;
  width: 650px;
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.inputs:focus {
  outline: none !important;
  border-color: rgb(32, 144, 32);
}

.emailPlace {
  padding-left: 10px;
  padding-right: 10px;
}

.confirmButton {
  font-weight: bold;
  font-size: 18px;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 25px;
  color: white;
  background-color: rgb(32, 144, 32);
  border: none;
  border-radius: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 120px;
}

.confirmButton:active {
  background-color: rgb(20, 109, 20);
}

.confirmButton:hover {
  background-color: rgb(27, 134, 27);
}

.littleContainer {
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}

.requestText {
  padding-left: 12px;
  padding-right: 10px;
}

.cancelButton {
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 25px;
  border: none;
  color: rgb(87, 87, 87);
  background-color: lightgray;
  border-radius: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 120px;
}

.cancelButton:active {
  background-color: rgb(137, 137, 137);
}

.cancelButton:hover {
  background-color: rgb(180, 179, 179);
}

.buttonPlace {
  text-align: right;
  margin-right: 10px;
  margin-top: -20px;
}

@media only screen and (max-width: 900px) {
  .panelDesign {
    width: 350px;
    background-color: white;
    color: black;
    font-family: "Arial";
    position: fixed;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    padding-right: 0px;
    z-index: 10;
  }

  .inputs {
    border: 1px solid lightgrey;
    margin-top: 20px;
    width: 330px;
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
  }
}
