.off i {
  position: absolute;
}

.off {
  width: 100%;
  margin-bottom: 0px;
}

.icon {
  min-width: 40px;
  padding-top: 6px;
  padding-left: 4px;
}

.input-field {
  cursor: pointer;
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 40px;
  width: 150%;
  padding-left: 40px;
}

.input-field:focus {
  outline: none !important;
  border-color: #45985f;
}

@media (max-width: 432px) {
  .off {
    display: none;
  }
}
